{% extends 'base.html.twig' %}

{% block title %}Inscription/Connexion{% endblock %}

{% block body %}

    <div class="w-100">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}">
                    {{ messages[0] }}
            </div>
        {% endfor %}
        <div class="d-flex justify-content-between">
            <div class="card" style="width: 45%;">
                <div class="card-header">
                    <h3 class="card-title">Formulaire de connection</h3>
                </div>
                <div class="card-body">
                    {{ form_start(formConn) }}
                    {{ form_widget(formConn) }}
                    {{ form_end(formConn) }}
                </div>
            </div>

            {{ render(controller('App\\Controller\\SecuriteController::register')) }}
        </div>
    </div>
{% endblock %}
