{% extends 'base.html.twig' %}

{% block title %}Boutique Controller!{% endblock %}

{% block body %}

    <div class="d-flex flex-wrap justify-content-center m-auto">
        <div class="card" style="width: 35rem; padding: 10px;">
            {% for label, messages in app.flashes %}
                <div class="alert alert-{{ label }}">
                    {{ messages[0] }}
                </div>
            {% endfor %}
            <h1>Création d'une catégorie</h1>
            {{ form_start(formCate) }}
            {{ form_widget(formCate) }}
            {{ form_end(formCate) }}
        </div>
    </div>
{% endblock %}

