{% extends 'base.html.twig' %}

{% block title %}Commandes Controller!{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('backoffice') }}" class="btn btn-primary">Retour</a>
        {% for commande in commandes %}
            <div class="card row border border-dark m-4" style="padding: 10px; border-radius: 10px">
                <div class="col-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Statut</th>
                            <th scope="col">Nb produit(s)</th>
                            <th scope="col">Total</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>{{ commande.dateCommande|date('d/m/Y') }}</td>
                            <td>{{ commande.statut }}</td>
                            <td>{{ commande.nbProduit }}</td>
                            <td>{{ commande.total }} €</td>
                            <td>
                                <a href="{{ path('cloreCommande', {'id': commande.id}) }}" class="btn btn-primary {{ commande.statut == 'Terminée' ? 'disabled' : '' }}">Cloturer</a>
                                <a href="{{ path('supprimerCommande', {'id': commande.id}) }}" class="btn btn-danger">Supprimer</a>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

