{% extends 'base.html.twig' %}

{% block title %}Boutique Controller!{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('boutique') }}" class="btn btn-primary mt-2">Retour</a>
        <div class="d-flex flex-wrap justify-content-center m-auto">
            {% for produit in produits %}
                <div class="card m-2" style="width: 16rem; height: 28rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ produit.libelle }}</h5>
                        <img class="card-img" style="height: 200px; width: 200px;" src="{{ asset(produit.visuel) }}">
                        <p class="card-text">{{ produit.prix }} €</p>
                        <p class="card-text" style="height: 30px">{{ produit.texte }}</p>
                        <a class="btn btn-primary" href="{{ path('ajouterProduit', {'idProduit': produit.id}) }}"><i
                                    class="fas fa-shopping-cart me-1"></i>Ajouter au panier</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}

